@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url(./Assets/IN-en-20240415-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-position: center center;
  background-size: max(1000px, 100vw);
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}
.main .box {
  opacity: 0.7;
  height: 90vh;
  width: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
}
nav {
  position: relative;
  top: 25px;
  display: flex;
  /* margin-top: 25px; */
  /* justify-content: center; */
  align-items: center;
  width: 80vw;
  margin: auto;
  /* background-color: red; */
  height: 60px;
  justify-content: space-between;
}
.flex img {
  width: 144px;
  position: relative;
  z-index: 10;
}
.flex button {
  position: relative;
  z-index: 10;
}
.hero {
  display: flex;
  color: rgb(233, 214, 214);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 91.3%;
  /* height: calc(100%-60px); */
  position: relative;
  z-index: 5;
  font-family: sans-serif;
  /* gap: 25px; */
  padding: 0 30px;
  text-align: center;
}
.hero div:first-child {
  font-size: 3rem;
  font-weight: 900;
}
.hero div:nth-child(2) {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: lighter;
}
.hero div:nth-child(3) {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: lighter;
}
body {
  background-color: #000000;
}
.separation {
  height: 6.5px;
  background-color: rgb(83, 81, 81);
}
.btn {
  padding: 5px 31px;
  /* background-color: transparent; */
  background-color: rgba(243, 243, 243, 0.021);
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  font-weight: 200;
  cursor: pointer;
}
.red-btn-1 {
  background-color: red;
  padding: 6px 7px;
  color: white;
  border-radius: 6px;
  width: 60px;
  border: none;
}
.red-btn-2 {
  background-color: red;
  color: white;
  padding: 10px 20px;
  /* font-weight: bold; */
  font-size: 1.5rem;
  border: none;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}
.hero input {
  /* padding: 18px 24px 12px 24px; */
  width: 300px;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(143, 140, 140);
  border-radius: 2px;
  /* margin-top: 15px; */
  /* background-color: black; */
  /* opacity: 0.5; */
  background-color: rgba(23, 23, 23, 0.7);
  padding: 14px 20px;
}
/* #arrow{
    color: white;
    /* height:10px; 
    width: 10px;
    /* background-color: white; 
    fill: white;
    margin-left: 20px;

} */
.first {
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px 0px;
  /* flex-wrap: wrap; */
  padding: 0px 0px 50px 0px;
}

.first > div {
  padding: 34px 0px;
  color: white;
}
.secImg img {
  width: 30vw;
  /* width: 320px; */
}

.first > div > div:first-child {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 900;
}
.first > div > div:last-child {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 500;
}
.secImg {
  position: relative;
  top: 10px;
  z-index: 10;
}
.secImg video {
  position: absolute;
  top: 104px;
  right: 64px;
  width: 320px;
  /* width: 30vw; */
  z-index: 0;
}
/* .faq{
    background-color: #000000;
} */
.bottom-boxes > div:hover {
  background-color: gray;
  transition: all 1s ease-out;
}
.bottom-boxes {
  display: flex;
  width: 72vw;
  margin: 10px auto;
  color: white;
  gap: 10px 0px;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 34px;
  cursor: pointer;
  /* justify-content: space-evenly; */
}
.bottom-boxes > div {
  display: flex;
  background-color: rgba(128, 128, 128, 0.345);
  /* gap: 5px 0px; */
  font-size: 1.5rem;
  padding: 20px 15px;
  justify-content: space-between;
}
h2 {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  font-family: sans-serif;
  padding: 40px 0px 20px 0px;
  text-align: center;
}
.bottom-boxes svg {
  filter: invert(1);
  /* color: white; */
  /* height: 80px; */
}
.email2 {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 50px 0px;
}
.bottom-text {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}
.ft1 {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 80vw;
  margin: auto;
}
@media screen and (max-width: 1300px) {
  .ft1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1300px) {
  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 300px;
  }
  .secImg video {
    width: 216px;
    left: 40px;
    top: 80px;
  }
  .hero div:first-child {
    font-size: 2rem;
  }
  .hero div:nth-child(2) {
    font-size: 1rem;
  }
  .hero div:nth-child(3) {
    font-size: 0.8rem;
  }
  nav {
    max-width: 90vw;
  }
  /* .red-btn-2{
        padding: 4px 2px;
    
    font-size: 1.0rem;
    } */
  .email {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 2rem;
  }
}
.footer-items {
  gap: 16px 0px;
  display: flex;
  flex-direction: column;
  /* padding: 10px 0px; */
}
#questions {
  /* color: white; */
  /* color: rgb(231, 226, 226); */
  color: gray;
  text-decoration: none;
  max-width: 80vw;
  margin: auto;
  padding-top: 30px;
}
.ft1 a {
  /* text-decoration: none; */
  color: gray;
  /* color: rgb(231, 226, 226); */
}
#span-end {
  color: gray;
  font-size: 1rem;
  width: 80vw;
  margin: auto;
  padding-bottom: 40px;
}
.btn-end {
  width: 96px;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
